In [1]:
""" list- a list is used to store multiple hetrogenous elements .
           it means it can store various datatypes in it 
           it is mutuable,means it can be changed
           syntax - list_name = []
    
    tuple- a tuple is also used to sotre multiple hetrogenous elements,
            the main diffrence betweeen list and tuple is it is immutable,
            syntax - tuple_name = () """

' list- a list is used to store multiple hetrogenous elements .\n           it means it can store various datatypes in it \n           it is mutuable,means it can be changed\n           syntax - list_name = []\n    \n    tuple- a tuple is also used to sotre multiple hetrogenous elements,\n            the main diffrence betweeen list and tuple is it is immutable,\n            syntax - tuple_name = () '

In [ ]:
""" input() function return string datatype
if we want it to convert it to integer we use int"""
a =  int(input("enter the no"))
print(a)

In [ ]:
""" a dictionary is used to store values in key and values pair
syntax - dictionary_name = {key1:value1,key2:value2,key3:value3}"""

In [2]:
"""for loop is used to run the same code multiple times """
for i in range(1,6):
    print(i)

1
2
3
4
5

In [3]:
"""exception handiling is used to hadle various kind of errors in python like value error ,type error etc.
  try:- in this we write the code that we think error can be occured
  except:-in this we wrtie the code that we want to run if error is occured
  finally:-in this we write the code we want to use weather error is occured or not 
     """
try:
    a = 100
    print(a/0)
except:
    print("cannot divide by zero")
finally:
    print("code executed")

cannot divide by zero
code executed

In [6]:
""" python modulues are files in which varios varibale and funcitons are stored to to be furthered used
    main diffrence between import math and from math import sqrt
    that in first we import the entire module and in other we only import one function fromm it
    """
import math
a = math.factorial(5)
print(a)
from math import sqrt
b = sqrt(5)
print(b)

120
2.23606797749979

In [8]:
""" obeject oriented programming refers to  programming with the use of classes and funcitons
    classes are used to store various variables and funciton """
class Parth:
    def display(self,a):
        print(f"your name is {a}")
p = Parth()
p.display("parth")

your name is parth

In [14]:
result = []
result = [result.append(x*2) for x in range(10) if x%2==0]
print(result)

[None, None, None, None, None]

In [17]:
def area(r):
    c=0
    c = 3.14 * r*r
    return c
d = area(5)
print(d)

78.5

In [19]:
def display(a,b):
    print(f"your name is {a} ,you are {b}")
a = "parth"
b = 19
display(a,b)

your name is parth ,you are 19

In [20]:
fruits  = ["apple","mango","banana","grapes","orange"]
for i in range(len(fruits)):
    print(f"position {i},fruit is {fruits[i]}")

position 0,fruit is apple
position 1,fruit is mango
position 2,fruit is banana
position 3,fruit is grapes
position 4,fruit is orange

In [28]:
def grade_calculator(a):
    if(a>=90<=100):
        print(f"your grade is {a} A")
    elif(a>=80<=89):
        print(f"your grade is {a} B")
    elif(a>=70<=79):
        print(f"your grade is {a} c")
    elif(a>=60<=69):
        print(f"your grade is {a} d")
    elif(a<60):
        print(f"your grade is {a} f")
grade_calculator(57)

your grade is 57 f

In [43]:
class BankAccount:
    name = "parth"
    balance = 100000
    def deposit(self,a):
        bal = self.balance
        bal = bal + a
        self.balance = bal
    def withdraw(self,a):
        if(a<self.balance):
            balance = self.balance
            balance = balance - a
            self.balance = balance
        else:
            print("insufficent balance")
    def display(self):
        print(f"your toal balance is {self.balance}")
d = BankAccount()
d.deposit(5000)
d.withdraw(2500)
d.display()

your toal balance is 102500

In [57]:
def prime():
    
    for i in range(2,10):
        for j in range(1,51):
            if(j%i!=0):
                print(j)
                
            
                
prime()

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
1
2
3
5
6
7
9
10
11
13
14
15
17
18
19
21
22
23
25
26
27
29
30
31
33
34
35
37
38
39
41
42
43
45
46
47
49
50
1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49
1
2
3
4
5
7
8
9
10
11
13
14
15
16
17
19
20
21
22
23
25
26
27
28
29
31
32
33
34
35
37
38
39
40
41
43
44
45
46
47
49
50
1
2
3
4
5
6
8
9
10
11
12
13
15
16
17
18
19
20
22
23
24
25
26
27
29
30
31
32
33
34
36
37
38
39
40
41
43
44
45
46
47
48
50
1
2
3
4
5
6
7
9
10
11
12
13
14
15
17
18
19
20
21
22
23
25
26
27
28
29
30
31
33
34
35
36
37
38
39
41
42
43
44
45
46
47
49
50
1
2
3
4
5
6
7
8
10
11
12
13
14
15
16
17
19
20
21
22
23
24
25
26
28
29
30
31
32
33
34
35
37
38
39
40
41
42
43
44
46
47
48
49
50